{% extends 'base.html' %}

{% block title %}
База Дром
{% endblock %}

{% block body %}
Дром
{% endblock %}

<h1> База Дром</h1>
{% block content %}
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Цена</th>
                <th>ТТХ</th>
                <th>Год выпуска</th>
                <th>Марка</th>
                <th>Ссылка</th>
                <th>Оценка цены</th>
            </tr>
        </thead>
        <tbody>
            {% for data in auto %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.price_int }}</td>
                    <td>{{ data.short_descript }}</td>
                    <td>{{ data.car_year }}</td>
                    <td>{{ data.car_name }}</td>
                    <td><a href="{{ data.url_cars }}"> Просмотреть </a></td>
                    <td>{{ data.site_evaluation }}</td>
                </tr>
        </tbody>
            {% endfor %}


    </table>
{% endblock %}
